<!DOCTYPE html>
<html>
<head>
  <title>Noun Compound Finder for Turkish</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {% block content %}{% end %}
  </div>
</body>
</html>
