{% extends "base.html" %}

{% block content %}
<h1>Noun Compound Finder for Turkish</h1>

<div class="row">
  <div class="col-xs-12">
    <form action="." method="post" role="form">
      {% module xsrf_form_html() %}
      <div class="form-group">
        <label for="text">Enter a text in Turkish language</label>
        <textarea type="text" id="text" name="text" class="form-control" rows="4">{{ text }}</textarea>
      </div>
      <button type="submit" class="btn btn-large btn-primary">Find Noun Compounds</button>
    </form>

    <h2>Result</h2>
    <pre>{{ result }}</pre>
  </div>
</div>
{% end %}
